/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Box sizing
# Base
	- Typography
	- Link Overrides
	- Forms
## Layouts
# Components
	- Navigation
	- Full Screen Overlay
	- Sidebar Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
	- Footer
	- Tabs
	- Pagination
# Plugins
	- SwiperJS
	- IsotopeJS
	- Breadcrumbs
	- TablePress
	- Kadence
# Utilities
	- Accessibility
	- Alignments
# Front Page Template
	- Statistics
	- Giving Section
	- Social Feeds
	- Magazine
	- Fields of Study
	- Hub

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
}

h1 {
	@apply font-serifbold font-normal;
}
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
ul.nav {
	@apply font-heavy font-bold;
}


/* Sections
	 ========================================================================== */

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

.text-shadow {
	text-shadow: 2px 2px 2px #000;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

.divide-grey-cool {
	@apply border-grey-cool;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/* Link Overrides
--------------------------------------------- */

.site-main a,
.prose a,
.sidebar-menu h1 a,
.hub h1 a,
.magazine-heading h1 a,
.magazine.features h3 a {
	@apply text-blue border-grey border-b-2 border-dashed no-underline transition-colors ease-in-out duration-200;
}

.site-main a:hover,
.prose a:hover,
.sidebar-menu h1 a:hover,
.hub h1 a:hover,
.magazine-heading h1 a:hover,
.magazine.features h3 a:hover {
	@apply text-black border-grey-darkest border-b-2 border-solid;
}

.custom-logo {
	@apply object-left object-scale-down h-16 m-6;
}

/*a.white-text {
	@apply text-white;
}

a.black-text {
	@apply text-black;
}

a.border-none,
a.border-none:hover {
	@apply border-none;
}*/

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #4a484c;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #2c2c33;
}

select {
	border: 1px solid #d6d6d6;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

dl dt {
	@apply font-semi;
}
.prose ol {
	counter-reset: section !important;
}
.prose ol > li::before {
	counter-increment: section !important;
	content: counter(section) "." !important;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

.site-main {
	@apply pl-4;
}

@screen lg {
	.flex-row .site-main {
		@apply pl-4;
	}
	.md\:flex-row-reverse .site-main {
		@apply pl-8;
	}
}

.sidebar {
	@apply pl-4;
}

@screen lg {
	.sidebar {
		@apply pl-1;
	}
}

/* Navigation
--------------------------------------------- */
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.shield {
	width: 300px;
}

@screen md {
	.shield {
		width: 340px;
	}
}

/* Full Screen Overlay
--------------------------------------------- */
.site-navigation a {
	@apply text-white;
}
.site-navigation a:hover {
	@apply text-grey;
}

.site-navigation button {
	@apply p-4 text-white text-lg border-0 bg-secondary;
	border-radius: 2%;
}

.site-navigation button.close-btn:hover,
.site-navigation button.close-btn:focus {
	@apply bg-blue-light;
}

.site-navigation .main-navigation {
	@apply flex;
}

.site-navigation .main-navigation > li {
	flex: 1 1 25%;
	@apply font-semi font-semibold my-8 px-8;
}

.site-navigation .main-navigation li:nth-last-of-type() {
	flex: 1 1 auto;
}

.site-navigation .main-navigation li.external a::after {
	content: "\ecf6";
	font-family: 'icomoon', 'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
	font-weight: 300;
	padding-left: 0.5rem;
}

.site-navigation .main-navigation li.authenticate a::after {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font: var(--fa-font-solid);
	font-weight: 900;
	content: "\f2f6";
	padding-left: 0.5rem;
}

.site-navigation .main-navigation li a:hover {
	@apply underline;
}

.site-navigation .main-navigation li ul.sub-menu li {
	@apply text-lg mb-1 leading-tight;
}

.site-navigation .main-navigation li ul.sub-menu li ul.sub-menu {
	@apply pl-4;
}

.site-navigation .main-navigation li ul.sub-menu li ul.sub-menu li {
	@apply mb-0 text-base;
}

.site-navigation .main-navigation li a.top-level {
	@apply mt-8 text-xl font-heavy font-bold uppercase;
}

@media all and (max-width: 767px) {
	.site-navigation .main-navigation li {
		flex: 1 1 100%;
	}
}

.site-search input[type="text"] {
	@apply border-none text-grey-darkest;
}
.desktop-overlay-menu {
	@apply overflow-y-hidden;
	transition: 0.5s;
	-webkit-transform: scale(0);
    transform: scale(0);
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #002d72;
	padding: 20px;
	z-index: 999;
	opacity: 0;
  }
  .desktop-overlay-menu.active {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #002d72;
	padding: 20px;
	z-index: 999;
	-webkit-transform: scale(1);
			transform: scale(1);
	opacity: 1;
	webkit-animation: anim .3s ease-in-out;
			animation: anim .3s ease-in-out;
  }
  
  .close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
	background: transparent;
  }


.overlay {
	@apply h-0 w-full fixed z-10 top-0 left-0 bg-secondary overflow-y-hidden;
	transition: 0.5s;
	-webkit-transform: scale(0);
    transform: scale(0);
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
	transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
/*
.overlay.active {
	display: block;
	-webkit-transform: scale(1);
			transform: scale(1);
	opacity: 1;
	webkit-animation: anim .3s ease-in-out;
			animation: anim .3s ease-in-out;
}*/

.overlay-content {
	@apply relative w-full mt-16 top-0;
}

.overlay .closeBtn {
@apply absolute top-0 text-3xl ml-12 text-white bg-transparent  border-transparent active:bg-blue-light focus:outline-none focus:ring focus:ring-blue-light;
right: 25px;
transition: 0.5s;
-webkit-appearance: none;
}

@media screen and (max-width: 767px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
}

@-webkit-keyframes anim {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
		-webkit-transform: scale(0);
				transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}

@keyframes anim {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
		-webkit-transform: scale(0);
				transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}


/* Sidebar Navigation
--------------------------------------------- */

.sidebar-menu ul.nav {
	@apply mb-8 border-l-2;
}

.sidebar-menu ul.nav li {
	@apply pl-4 py-1 text-lg;
}

.sidebar-menu ul.nav li a {
	@apply font-heavy font-bold leading-snug;
}

.sidebar-menu ul.nav li a:hover {
	@apply text-primary border-grey-darkest border-b-2 border-solid;
}

.sidebar-menu ul.nav li ul.sub-menu li a {
	@apply text-base;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

/*.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}*/

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog header h2.entry-title {
	@apply my-4;
}

.blog .entry-content {
	@apply mt-0;
}

.blog .prose hr {
	@apply my-4;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
	background: url("../images/blueInWhite_corner1.svg") no-repeat right bottom;
	background-color: #fefefe;
	background-size: 2.666666666666667rem auto;
	border: 0.06667rem solid #002d72;
	border-bottom: none;
	box-shadow: 0 0.4rem 0 0 #002d72;
	padding: 0.75rem;
}

.widget select {
	max-width: 100%;
}

.widget h2 {
	@apply text-xl font-heavy font-bold;
}

.widget.prose {
	@apply leading-snug text-base pb-8;
	font-size: 1rem;
}

.widget.prose h2 {
	@apply mb-2;
}

.widget-title.text-base {
	@apply text-lg;
}

.widget.prose ul.nav li a {
	font-size: 1rem;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.people .post-thumbnail img {
	@apply px-8;
}

.featured-image-area {
	height: 5rem;
}

@screen lg {
	.featured-image-area {
		height:20rem;
	}
}

.featured-image-area .entry-title {
	@apply text-4xl py-4;
}

@screen sm {
	.featured-image-area .entry-title {
		font-size: 2.5rem;
	}
}

@screen md {
	.featured-image-area .entry-title {
		@apply text-5xl;
	}
}

@screen lg {
	.featured-image-area .entry-title {
		font-size: 3.5rem;
	}
}

.front-featured-image-area {
	height: 22rem;
}

@screen lg {
	.front-featured-image-area {
		height:26rem;
	}
}
@media screen and (min-width: 992px) and (max-width:1166px) {
	.front-featured-image-area h2 {
		font-size: 2rem;
	}
	.front-featured-image-area p {
		font-size: 1.125rem;
	}
	.front-featured-image-area div[role=alert] {
		margin-top: 2rem;
	}
}

@media screen and (min-width: 992px) {
	.featured-image {
		clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
	}
	.featured-image img
	{
		height: 101%;
	}
}

a.post-thumbnail.border-none {
	border-style: none
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/* Footer
--------------------------------------------- */

.social-media a {
	@apply pr-4;
}

/* Tabs
--------------------------------------------- */

#tabs-id a.active {
	@apply text-white;
}

.tabs .tab.active {
	@apply bg-grey;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

/* Pagination
--------------------------------------------- */

ul.page-numbers {
	@apply flex flex-row py-1 px-2 font-sans justify-center;
}

ul.page-numbers li {
	@apply m-4 inline-block;
}

ul.page-numbers li a.page-numbers {
	@apply p-2 border-0;
}

ul.page-numbers li a.page-numbers:hover {
	@apply bg-grey-lightest;
}

ul.page-numbers li .page-numbers.current {
	@apply bg-blue text-white p-2;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* SwiperJS
--------------------------------------------- */

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	/* Center slide text vertically */
	@apply flex justify-center items-center max-w-sm rounded overflow-hidden shadow-lg !h-auto self-stretch;
}

.swiper-slide h3 {
	@apply font-heavy font-bold text-xl mb-4 mt-2 leading-tight text-secondary flex align-baseline;
}

.swiper-slide h3:hover {
	@apply text-black;
}

.swiper-slide p {
	@apply leading-tight text-base;
}

.swiper-pagination {
	@apply !relative !mt-8;
}

/* IsotopeJS // Fields of Study
--------------------------------------------- */
.part_time_program .field {
	box-shadow: inset 0 0 0 6px #c3dcf5;
}
.full_time_program .field {
	box-shadow: inset 0 0 0 6px #68ace5;
}
.undergrad_program .field {
	box-shadow: inset 0 0 0 6px #002d72;
}

.full_time_program.undergrad_program .field {
	box-shadow: inset 0 0 0 6px #002d72, inset 0 0 0 12px #68ace5;
}

.study-fields button {
	@apply font-semi py-2 px-2 mr-4 border-solid border text-center;
}

.study-fields button::-moz-focus-inner {
	@apply border-solid border-2;
  }

.study-fields #search-form button {
	@apply mr-0 py-1;
}

.study-fields #search-form input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}


.site-main .study-fields a {
	color: inherit;
}

.study-fields button.all, .study-fields button.undergrad {
	@apply text-white;
}

.study-fields button.all:hover, .study-fields button.undergrad:hover {
	@apply text-black;
}

.study-fields button.all.is-checked {
	@apply bg-white text-black;
}

.study-fields button.undergrad.is-checked {
	@apply bg-white text-blue border-solid border-secondary;
}

.study-fields button.full-time.is-checked {
	@apply bg-white text-black border-solid border-blue-light;
}

.study-fields button.part-time.is-checked {
	@apply bg-white text-black border-solid border-blue-lightest;
}

/* Breadcrumbs
--------------------------------------------- */

.breadcrumbs {
	@apply text-grey;
}

.breadcrumbs span.current-item,
.breadcrumbs span a {
	@apply uppercase text-sm border-none mx-4;
}

.breadcrumbs span.current-item {
	@apply text-black;
}

.breadcrumbs span a.home, .breadcrumbs span a.main-home {
	@apply ml-0;
}

/* Tablepress
--------------------------------------------- */
.tablepress {
	@apply my-4 !important;
}

.tablepress tbody td,
.tablepress tbody th {
	@apply pt-2 px-3 pb-3 !important;
}

.tablepress tfoot td,
.tablepress tfoot th,
.tablepress thead td,
.tablepress thead th {
	@apply font-heavy font-bold pt-2 px-3 pb-3 !important;
}

.tablepress tfoot th,
.tablepress thead th {
	@apply bg-blue-lightest !important;
}

/* Kadence
--------------------------------------------- */

.wp-block-kadence-testimonials .kt-testimonial-title, .wp-block-kadence-testimonials .kt-testimonial-name {
	@apply font-heavy font-bold !important;
}

.wp-block-kadence-tabs .kt-title-text,
.wp-block-kadence-advancedgallery .kadence-blocks-gallery-item__caption {
	@apply font-semi !important;
}

.wp-block-kadence-testimonials .kt-testimonial-occupation,
.wp-block-kadence-testimonials .kt-testimonial-content {
	@apply font-sans text-black !important;
}

.wp-block-kadence-testimonials, .wp-block-kadence-tabs {
	@apply py-4;
}

.kt-blocks-info-box-learnmore.info-box-link {
	@apply font-semi text-blue border-0 no-underline transition-colors ease-in-out duration-200 pt-4 !important;
}

.kt-blocks-info-box-learnmore.info-box-link:hover {
	@apply text-black border-grey-darkest border-b-2 border-solid !important;

}

.prose .wp-block-kadence-testimonials .kt-blocks-carousel ul.slick-dots > li::before,
.prose wp-block-kadence-tabs ul.kt-tabs-title-list > li::before {
	display: none;
}

.prose .wp-block-kadence-tabs ul {
	margin-top: 0;
	margin-bottom: 0;
}


/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Front Page Template
--------------------------------------------------------------*/

/* Statistics
--------------------------------------------- */

.distinctions {
	/*background: linear-gradient(90deg, #002d72 0%, #68ace5 100%);*/
	background-size: cover;
}

.distinction .icon {
	display: inline-block;
}

.distinction .icon img {
	width: 4.5rem;
}

.distinction:nth-of-type(odd) h2 {
	@apply text-white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.distinction:nth-of-type(even) h2 {
	@apply text-blue-light;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

/* Giving Section
--------------------------------------------- */

.giving-section {
	background: linear-gradient(90deg, #002d72 0%, #68ace5 100%);
	background: url("../images/homepage-giving-image.jpg") top left no-repeat;
	background-size: cover;
	margin-bottom: -5rem;
}

/* Social Feeds
--------------------------------------------- */
#sb_instragram,
.tiktok-thumb {
	@apply bg-white shadow-xl rounded-lg;
}

.tiktok {
	padding: 0.5rem;
}

.tiktok .tiktok-thumb {
	position: relative;
	overflow: hidden;
}

.tiktok .tiktok-thumb .image {
	@apply opacity-100 block w-full h-auto duration-500 ease-in;
	backface-visibility: hidden;
}

.tiktok .tiktok-thumb .overlay {
	@apply absolute top-0 bottom-0 left-0 right-0 h-full w-full opacity-0 duration-500 ease-out bg-blue bg-opacity-75;
}
.tiktok-thumb:hover .overlay {
	opacity: 1;
}
.tiktok .tiktok-thumb .overlay .text {
	@apply text-white text-base absolute text-center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Magazine Section
--------------------------------------------- */

.tabs button[role="tab"][aria-selected="true"] {
	@apply text-primary bg-grey;
}

.tabs button:hover {
	@apply bg-grey-lightest;
}

.btn-magazine {
	@apply  text-secondary border-none py-1 px-2 font-heavy;
}

@screen lg {
	.btn-magazine {
		@apply py-4 px-6;
	}
}

.magazine.dean p {
	@apply text-lg mb-4 leading-relaxed;
}

.magazine h3 {
	@apply text-2xl font-heavy font-bold mb-2 leading-normal;
}

.magazine p {
	@apply leading-tight text-lg mb-2;
}


/* Fields of Study Cards
--------------------------------------------- */
.front-studyfield-card {
	@apply flex-shrink-0 m-6 relative overflow-hidden bg-secondary rounded-lg max-w-xs shadow-lg;
}

.front-studyfield-card:hover {
	@apply bg-blue-light;
}

/* Hub
--------------------------------------------- */
.hub.news {
	line-height: 1.5;
}

.hub.news img {
	@apply mt-0 mb-2 pt-0 pb-2;
}


.hub p {
	@apply text-base mb-4;
}


.hub.news .video-thumbnail {
	position: relative;
}

.hub-news video-thumbnail img {
	padding: .5rem 0;
	width: 100%;
  }

.hub.news .video-thumbnail .playbutton::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font: var(--fa-font-light);
	font-size: 4rem;
	font-style: normal;
	font-weight: inherit;
	text-decoration: inherit;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	content: "\f144";
  }

/* People
--------------------------------------------- */

.people {
	@apply mb-8;
}


/*--------------------------------------------------------------
# Components from TwentyTwenty
--------------------------------------------------------------*/

/* Sections ---------------------------------- */

.section {
	padding: 5rem 0;
	width: 100%;
  }
  
  .section-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 120rem;
	width: calc(100% - 4rem);
  }
  
  .section-inner.max-percentage {
	width: 100%;
  }
  
  .section-inner.thin {
	max-width: 58rem;
  }
  
  .section-inner.small {
	max-width: 80rem;
  }
  
  .section-inner.medium {
	max-width: 100rem;
  }
  
  .section-inner.no-margin {
	margin: 0;
  }
  
  /* Toggles ----------------------------------- */
  
  .toggle {
	-moz-appearance: none;
	-webkit-appearance: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-align: inherit;
	user-select: none;
  }
  
  button.toggle {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	font-size: inherit;
	font-weight: 400;
	letter-spacing: inherit;
	padding: 0;
	text-transform: none;
  }
  
  button.toggle.search-toggle.desktop-search-toggle {
	height: 1rem;
  }
  
  button.toggle.search-toggle.desktop-search-toggle svg {
	height: 1.25rem;
	max-width: 1.15rem;
	width: 1.15rem;
  }
  
  /* Hiding and Showing ------------------------ */
  
  .js .show-js {
	display: block !important;
  }
  
  .js .hide-js {
	display: none !important;
  }
  
  .no-js .show-no-js {
	display: block !important;
  }
  
  .no-js .hide-no-js {
	display: none !important;
  }
  
  /* Search Form ------------------------------- */
  
  .search-form {
	align-items: stretch;
	display: flex;
	flex-wrap: nowrap;
	margin: 0 0 -0.8rem -0.8rem;
  }
  
  .search-form .search-field,
  .search-form .search-submit {
	margin: 0 0 0.8rem 0.8rem;
  }
  
  .search-form label {
	align-items: stretch;
	display: flex;
	font-size: inherit;
	margin: 0;
	width: 100%;
  }
  
  .search-form .search-field {
	width: 100%;
  }
  
  .search-form .search-submit {
	flex-shrink: 0;
  }
  
  .search-form .search-submit:focus,
  .search-form .search-submit:hover {
	text-decoration: none;
  }
  
  .page-content .search-form input[type="color"],
  .page-content .search-form input[type="date"],
  .page-content .search-form input[type="datetime"],
  .page-content .search-form input[type="email"],
  .page-content .search-form input[type="number"],
  .page-content .search-form input[type="password"],
  .page-content .search-form input[type="search"],
  .page-content .search-form input[type="text"],
  .page-content .search-form input[type="time"],
  .page-content .search-form input[type="url"] {
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	color: #31261d;
	padding: 3px;
  }
  
  /* Cover Modals ------------------------------ */
  
  .cover-modal {
	display: none;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
  }
  
  .cover-modal::-webkit-scrollbar {
	display: none !important;
  }
  
  .cover-modal.show-modal {
	display: block;
	cursor: pointer;
  }
  
  .cover-modal.show-modal > * {
	cursor: default;
  }
  
  /* Site Header ------------------------------ */
  #site-header {
	position: relative;
  }
  
  .showing-menu-modal #site-header {
	display: none;
  }
  
  .header-inner {
	max-width: 168rem;
	/*padding: 1rem 0 3.15rem 0;*/
	z-index: 100;
  }
  
  .header-navigation-wrapper .header-inner.section-inner {
	padding: 0;
  }
  
  /* Header Titles ----------------------------- */
  
  .header-titles-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 1rem;
	text-align: center;
  }
  
  body:not(.enable-search-modal) .header-titles-wrapper {
	justify-content: flex-start;
	padding-left: 0;
	text-align: left;
  }
  
  .site-title,
  .site-logo,
  .site-description {
	margin: 0;
  }
  
  .site-title {
	font-family: "quadon-bold", Georgia, serif;
	line-height: 1;
	font-weight: 500;
  }
  
  .site-title a {
	display: block;
	text-decoration: none;
  }
  
  .site-description {
	margin-top: 1rem;
	color: #6d6d6d;
	font-size: 1.8rem;
	font-weight: 500;
	display: none;
	letter-spacing: -0.0311em;
	transition: all 0.15s linear;
  }
  
  .site-logo a,
  .site-logo img {
	display: block;
  }
  
  .header-titles .site-logo .site-logo {
	margin: 0;
  }
  
  .site-logo img {
	max-height: 6rem;
	margin: 0 auto;
	width: auto;
  }
  
  body:not(.enable-search-modal) .site-logo img {
	margin: 0;
  }
  
  /* Overlay Header ---------------------------- */
  
  .overlay-header #site-header {
	background: transparent;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
  }
  
  .overlay-header .header-inner {
	color: #fff;
  }
  
  .overlay-header .site-description,
  .overlay-header .toggle {
	color: inherit;
  }
  
  .overlay-header .header-inner .toggle-wrapper::before {
	background-color: currentColor;
	opacity: 0.25;
  }
  
  .admin-bar.overlay-header #site-header {
	top: 32px;
  }
  
  @media (max-width: 782px) {
	.admin-bar.overlay-header #site-header {
	  top: 46px;
	}
  }
  
  /* Header Navigation ------------------------- */
  
  .header-navigation-wrapper {
	display: none;
  }
  
  /* Header Toggles ---------------------------- */
  
  .header-toggles {
	display: none;
  }
  
  .header-inner .toggle {
	align-items: flex-end;
	display: flex;
	overflow: visible;
	padding: 0 2rem;
	margin-bottom: 2rem;
  }
  
  .header-inner .toggle svg {
	display: block;
	position: relative;
	z-index: 1;
  }
  
  .header-inner .toggle path {
	fill: currentColor;
  }
  
  .toggle-inner {
	display: flex;
	justify-content: center;
	height: 2.3rem;
	position: relative;
  }
  
  .toggle-icon {
	display: block;
	overflow: hidden;
  }
  
  .toggle-inner .toggle-text {
	font-size: 1rem;
	font-weight: 300;
	position: absolute;
	top: calc(100% + 0.25rem);
	width: auto;
	white-space: nowrap;
	word-break: break-all;
  }
  
  .overlay-header .toggle-text {
	color: inherit;
  }
  
  .header-inner .toggle:focus .toggle-text,
  .header-inner .toggle:hover .toggle-text {
	text-decoration: underline;
  }
  
  .header-inner .toggle.mobile-search-toggle path,
  .header-inner .toggle.mobile-nav-toggle path {
	fill: #fefefe;
  }
  
  /* Search Toggle ----------------------------- */
  
  .search-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
	/*top: 0;*/
  }
  
  .search-toggle .toggle-icon,
  .search-toggle svg {
	height: 1.5rem;
	max-width: 1.3rem;
	width: 1.3rem;
  }
  
  /* Navigation Toggle ------------------------- */
  
  .nav-toggle {
	position: absolute;
	bottom: 0;
	right: 0;
	/*top: 0;*/
	width: 6.6rem;
  }
  
  .nav-toggle .toggle-icon,
  .nav-toggle svg {
	height: 0.8rem;
	width: 1.6rem;
  }
  
  .nav-toggle .toggle-inner {
	padding-top: 0.8rem;
	padding-left: 0.8rem;
  }
  
  .mobile-nav-toggle .toggle-text,
  .mobile-search-toggle .toggle-text {
	@apply text-white;
  }
  
  /* Menu Modal ------------------------------ */
  .menu-modal {
	background: #fff;
	display: none;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	left: -99999rem;
	right: 99999rem;
	top: 0;
	transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
	z-index: 99;
  }
  
  .admin-bar .menu-modal {
	top: 32px;
  }
  
  @media (max-width: 782px) {
	.admin-bar .menu-modal {
	  top: 46px;
	}
  }
  
  .menu-modal.show-modal {
	display: flex;
  }
  
  .menu-modal.active {
	left: 0;
	opacity: 1;
	right: 0;
	transition: opacity 0.25s ease-out;
  }
  
  .menu-modal-inner {
	background: #fff;
	display: flex;
	justify-content: stretch;
	overflow: auto;
	-ms-overflow-style: auto;
	width: 100%;
  }
  
  .menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
  }
  
  button.close-nav-toggle {
	align-items: center;
	display: flex;
	font-size: 1.6rem;
	font-weight: 500;
	justify-content: flex-end;
	padding: 3.1rem 0;
	width: 100%;
  }
  
  button.close-nav-toggle svg {
	height: 1.6rem;
	width: 1.6rem;
  }
  
  button.close-nav-toggle .toggle-text {
	margin-right: 1.6rem;
  }
  
  .menu-modal .menu-top {
	flex-shrink: 0;
  }
  
  /* Modal Main Menu --------------------------------- */
  
  .modal-menu {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
  }
  
  .modal-menu li {
	border-color: #dedfdf;
	border-style: solid;
	border-width: 0.1rem 0 0 0;
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
	justify-content: flex-start;
	margin: 0;
  }
  
  .modal-menu > li > a,
  .modal-menu > li > .ancestor-wrapper > a {
	@apply font-semi font-semibold;
	font-size: 1.5rem;
	letter-spacing: -0.0375em;
  }
  
  .modal-menu > li:last-child {
	border-bottom-width: 0.1rem;
  }
  
  .modal-menu .ancestor-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
  }
  
  .modal-menu a {
	display: block;
	padding: 2rem 2.5rem;
	text-decoration: none;
	width: 100%;
  }
  
  .modal-menu a:focus,
  .modal-menu a:hover,
  .modal-menu li.current-menu-item > .ancestor-wrapper > a,
  .modal-menu li.current_page_ancestor > .ancestor-wrapper > a,
  .modal-menu li.current_page_item > .ancestor-wrapper > a {
	text-decoration: underline;
  }
  
  button.sub-menu-toggle {
	border-left: 0.1rem solid #dedfdf;
	flex-shrink: 0;
	margin: 1rem 0;
	padding: 0 2.5rem;
  }
  
  button.sub-menu-toggle svg {
	height: 0.9rem;
	transition: transform 0.15s linear;
	width: 1.5rem;
  }
  
  button.sub-menu-toggle.active svg {
	transform: rotate(180deg);
  }
  
  .modal-menu ul {
	display: none;
	margin: 0;
	width: 100%;
  }
  
  .modal-menu ul li {
	border-left-width: 1rem;
  }
  
  .modal-menu ul li a {
	color: inherit;
	font-weight: 300;
	font-size: 1.25rem;
  }
  
  .modal-menu ul ul a {
	font-size: 1.125rem;
  }
  
  /* Main menu animation ----------------------- */
  
  .menu-wrapper .menu-item {
	position: relative;
  }
  
  .menu-wrapper .active {
	display: block;
  }
  
  .menu-wrapper.is-toggling {
	pointer-events: none;
  }
  
  .menu-wrapper.is-toggling .menu-item {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
  }
  
  .menu-wrapper.is-toggling .menu-bottom .social-menu .menu-item {
	width: auto;
  }
  
  .menu-wrapper.is-animating .menu-item,
  .menu-wrapper.is-animating .toggling-target {
	transition-duration: 250ms;
  }
  
  .menu-wrapper.is-animating .menu-item {
	transition-property: transform;
  }
  
  .menu-wrapper.is-toggling .toggling-target {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
  }
  
  .menu-wrapper.is-toggling .toggling-target.active {
	opacity: 0;
  }
  
  .menu-wrapper.is-animating.is-toggling .toggling-target {
	display: block;
	transition-property: opacity;
	opacity: 0;
  }
  
  .menu-wrapper.is-animating.is-toggling .toggling-target.active {
	opacity: 1;
  }
  
  .menu-wrapper.is-toggling .modal-menu > li:last-child li {
	border-top-color: transparent;
	border-bottom-width: 0.1rem;
  }
  
  @media (prefers-reduced-motion: reduce) {
	.menu-wrapper.is-animating .menu-item,
	.menu-wrapper.is-animating .toggling-target {
	  transition-duration: 1ms !important;
	}
  }
  
  /* Expanded Menu ----------------------------- */
  
  .expanded-menu {
	display: none;
  }
  
  .mobile-menu {
	display: block;
  }
  
  /* Menu Bottom ------------------------------- */
  
  .menu-bottom {
	flex-shrink: 0;
	padding: 4rem 0;
  }
  
  .menu-bottom nav {
	width: 100%;
  }
  
  .menu-copyright {
	display: none;
	font-size: 1.6rem;
	font-weight: 500;
	margin: 0;
  }
  
  .menu-copyright a:focus,
  .menu-copyright a:hover {
	text-decoration: underline;
  }
  
  .menu-bottom .social-menu {
	justify-content: center;
  }
  
  /* Search Modal ------------------------------ */
  
  .search-modal {
	background: rgba(0, 0, 0, 0.2);
	display: none;
	opacity: 0;
	position: fixed;
	bottom: 0;
	left: -9999rem;
	top: 0;
	transition: opacity 0.2s linear, left 0s 0.2s linear;
	width: 100%;
	z-index: 999;
  }
  
  .admin-bar .search-modal.active {
	top: 32px;
  }
  
  @media (max-width: 782px) {
	.admin-bar .search-modal.active {
	  top: 46px;
	}
  }
  
  .search-modal-inner {
	background: #fff;
	transform: translateY(-100%);
	transition: transform 0.15s linear, box-shadow 0.15s linear;
  }
  
  .search-modal-inner .section-inner {
	display: flex;
	justify-content: space-between;
	max-width: 168rem;
  }
  
  .search-modal.active {
	left: 0;
	opacity: 1;
	transition: opacity 0.2s linear;
  }
  
  .search-modal.active .search-modal-inner {
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
	transform: translateY(0);
	transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
  }
  
  button.search-untoggle {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	margin-right: -2.5rem;
	padding: 0 2.5rem;
  }
  
  .search-modal button.search-untoggle {
	color: inherit;
  }
  
  .search-modal.active .search-untoggle {
	animation: popIn both 0.3s 0.2s;
  }
  
  .search-untoggle svg {
	height: 1.5rem;
	transition: transform 0.15s ease-in-out;
	width: 1.5rem;
  }
  
  .search-untoggle:focus svg,
  .search-untoggle:hover svg {
	transform: scale(1.15);
  }
  
  /* Modal Search Form ------------------------- */
  
  .search-modal form {
	margin: 0;
	position: relative;
	width: 100%;
  }
  
  .search-modal .search-field {
	background: none;
	border: none;
	border-radius: 0;
	color: inherit;
	font-size: 2rem;
	letter-spacing: -0.0277em;
	height: 8.4rem;
	margin: 0 0 0 -2rem;
	max-width: calc(100% + 2rem);
	padding: 0 0 0 2rem;
	width: calc(100% + 2rem);
  }
  
  .search-modal .search-field::-webkit-input-placeholder {
	color: inherit;
  }
  
  .search-modal .search-field:-ms-input-placeholder {
	color: inherit;
  }
  
  .search-modal .search-field::-moz-placeholder {
	color: inherit;
	line-height: 4;
  }
  
  .search-modal .search-submit {
	position: absolute;
	right: -9999rem;
	top: 50%;
	transform: translateY(-50%);
  }
  
  .search-modal .search-submit:focus {
	right: 0;
  }
  
  /*--------------------------------------------------------------
  # Media Queries
  --------------------------------------------------------------*/
  
  @media (min-width: 700px) {
	/* Helper Classes ------------------------- */
  
	/* SECTIONS */
  
	.section {
	  padding: 8rem 0;
	}
  
	.section-inner {
	  width: calc(100% - 8rem);
	}
  
	/* Site Header --------------------------- */
  
	.site-description {
	  display: block;
	}
  
	.site-logo img {
	  max-height: 9rem;
	  transition: height 0.15s linear, width 0.15s linear, max-height 0.15s linear;
	}
  
	/* HEADER TOGGLES */
  
	.toggle-inner .toggle-text {
	  font-size: 1.2rem;
	}
  
	.search-toggle {
	  left: 2rem;
	}
  
	.nav-toggle {
	  right: 2rem;
	}
  
	/* Menu Modal ---------------------------- */
  
	button.close-nav-toggle {
	  font-size: 1.8rem;
	  padding: 4rem 0;
	}
  
	button.close-nav-toggle svg {
	  height: 2rem;
	  width: 2rem;
	}
  
	button.close-nav-toggle .toggle-text {
	  margin-right: 2.1rem;
	}
  
	.modal-menu {
	  left: auto;
	  width: 100%;
	}
  
	.modal-menu > li > a,
	.modal-menu > li > .ancestor-wrapper > a {
	  font-size: 2.4rem;
	  padding: 2.5rem 0;
	}
  
	.modal-menu ul li {
	  border-left-color: transparent;
	}
  
	.modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle {
	  padding: 0 3rem;
	}
  
	.modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle svg {
	  height: 1.1rem;
	  width: 1.8rem;
	}
  
	.menu-bottom {
	  align-items: center;
	  display: flex;
	  justify-content: space-between;
	  padding: 4.4rem 0;
	}
  
	.menu-copyright {
	  display: block;
	  flex-shrink: 0;
	  margin-right: 4rem;
	}
  
	/* Modal Search Form ------------------------- */
  
	.search-modal form {
	  position: relative;
	  width: 100%;
	}
  
	.search-untoggle svg {
	  /*height: 2.5rem;
		  width: 2.5rem;*/
	  height: 2rem;
	  width: 2rem;
	}
  
	.search-modal .search-field {
	  border: none;
	  /*font-size: 3.2rem;
		  height: 14rem;*/
	  height: 6rem;
	  font-size: 1.5rem;
	}
  
	.search-modal .search-field::-moz-placeholder {
	  line-height: 4.375;
	}
  }
  
  /*@media screen and (max-width: 989px) {
	  .post-thumbnail.alignfull {
		  margin-left: calc(49% - 50vw);
		  min-height: inherit;
	  }
  }*/
  
  @media screen and (min-width: 56.875em) {
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
	  right: auto;
	  left: 100%;
	}
  
	.main-navigation ul ul .menu-item-has-children > a:after {
	  -webkit-transform: rotate(270deg);
	  -moz-transform: rotate(270deg);
	  -ms-transform: rotate(270deg);
	  transform: rotate(270deg);
	}
  }
  
  @media screen and (min-width: 56.875em) {
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
	  right: auto;
	  left: 100%;
	}
  
	.main-navigation ul ul .menu-item-has-children > a:after {
	  -webkit-transform: rotate(270deg);
	  -moz-transform: rotate(270deg);
	  -ms-transform: rotate(270deg);
	  transform: rotate(270deg);
	}
  }
  
  @media (min-width: 990px) {
	.wp-block-group.alignfull,
	.wp-block-columns.alignfull,
	.wp-block-cover.alignfull,
	.post-thumbnail.alignfull {
	  width: 100vw;
	  margin-left: calc(50% - 50vw);
	}
	.wp-block-button.alignfull {
	  max-width: 100%;
	  width: auto;
	  margin-left: auto;
	  margin-right: auto;
	}
  }
  
  @media (min-width: 990px) and (max-width: 1164px) {
	.alignwide {
	  margin-left: 0px;
	  margin-right: 0px;
	}
  }
  
  .wp-site-blocks,
  body > .is-root-container,
  .edit-post-visual-editor__post-title-wrapper,
  .wp-block-group.alignfull,
  .wp-block-group.has-background,
  .wp-block-cover.alignfull,
  .is-root-container .wp-block[data-align="full"] > .wp-block-group,
  .is-root-container .wp-block[data-align="full"] > .wp-block-cover {
	  padding-left: var(--wp--custom--spacing--outer);
	  padding-right: var(--wp--custom--spacing--outer);
  }
  
  .wp-site-blocks .alignfull,
  .wp-site-blocks > .wp-block-group.has-background,
  .wp-site-blocks > .wp-block-cover,
  .wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
  .wp-site-blocks > .wp-block-template-part > .wp-block-cover,
  body > .is-root-container > .wp-block-group.has-background,
  body > .is-root-container > .wp-block-cover,
  body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
  body > .is-root-container > .wp-block-template-part > .wp-block-cover,
  .is-root-container .wp-block[data-align="full"] {
	  margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	  margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	  width: unset;
  }
  
  /* Blocks inside columns don't have negative margins. */
  .wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
  .is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],
  /* We also want to avoid stacking negative margins. */
  .wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
  .is-root-container .wp-block[data-align="full"] > *:not(.wp-block-group) .wp-block[data-align="full"] {
	  margin-left: auto !important;
	  margin-right: auto !important;
	  width: inherit;
  }
  @media (max-width: 999px) {
	.desktop-menu {
		@apply hidden;
	}
	.header-inner {
		@apply h-48;
	}
  }
  @media (min-width: 1000px) {

	.desktop-menu {
		@apply block;
	}

	/* Site Header --------------------------- */
  
	#site-header {
	  z-index: 2;
	}
  
	/*.header-inner {
	  padding: 2.8rem 0;
	}*/
  
	.header-titles-wrapper {
	  padding: 0;
	  text-align: left;
	}
  
	.wp-custom-logo .header-titles {
	  align-items: center;
	}
  
	/* HEADER NAVIGATION */
  
	.header-navigation-wrapper {
	  align-items: center;
	  display: flex;
	}
  
	.primary-menu-wrapper {
	  display: block;
	  width: 100%;
	}
  
	/* HEADER TOGGLES */
  
	.mobile-search-toggle,
	.mobile-nav-toggle {
	  display: none !important;
	}
  
	.primary-menu-wrapper + .header-toggles {
	  margin-left: 3rem;
	}
  
	.header-toggles {
	  display: flex;
	  flex-shrink: 0;
	  margin-right: -3rem;
	}
  
	.header-inner .toggle {
	  height: 4.4rem;
	  padding: 0 3rem;
	  position: relative;
	  bottom: auto;
	  left: auto;
	  right: auto;
	  top: auto;
	  width: auto;
	  margin-bottom: 0;
	  align-items: center;
	  margin-top: 1rem;
	}
  
	.header-inner .toggle-wrapper {
	  position: relative;
	}
  
	.header-inner .toggle-wrapper::before {
	  background: #dedfdf;
	  content: "";
	  display: block;
	  height: 2.5rem;
	  position: absolute;
	  left: 0;
	  top: calc(50% - 1.25rem);
	  width: 0.1rem;
	}
  
	.header-inner .toggle-wrapper:first-child::before {
	  content: none;
	}
  
	.header-inner
	  .primary-menu-wrapper
	  + .header-toggles
	  .toggle-wrapper:first-child::before {
	  content: "";
	}
  
	.nav-toggle-wrapper:not(.has-expanded-menu) {
	  display: none;
	}
  
	.toggle-inner {
	  position: static;
	}
  
	.toggle-inner .toggle-text {
	  left: 0;
	  right: 0;
	  text-align: center;
	  top: calc(100% - 0.5rem);
	  width: auto;
	}
  
	.header-toggles:only-child .nav-toggle .toggle-inner {
	  padding-top: 0;
	}
  
	.header-toggles:only-child .toggle-inner {
	  display: flex;
	  flex-wrap: nowrap;
	  align-items: center;
	}
  
	.header-toggles:only-child .toggle-inner .svg-icon {
	  order: 1;
	}
  
	.header-toggles:only-child .toggle-inner .toggle-text {
	  position: static;
	  padding-right: 20px;
	  font-size: 15px;
	  color: inherit;
	}
  
	/* Menu Modal ---------------------------- */
  
	.menu-modal {
	  opacity: 1;
	  justify-content: flex-end;
	  padding: 0;
	  transition: background-color 0.3s ease-in, left 0s 0.3s, right 0s 0.3s;
	}
  
	.menu-modal.cover-modal {
	  background: rgba(0, 0, 0, 0);
	}
  
	.menu-modal.active {
	  background: rgba(0, 0, 0, 0.2);
	  transition: background-color 0.3s ease-out;
	}
  
	.menu-wrapper.section-inner {
	  width: calc(100% - 8rem);
	}
  
	.menu-modal-inner {
	  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
	  opacity: 0;
	  padding: 0;
	  transform: translateX(20rem);
	  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
	  width: 50rem;
	}
  
	.menu-modal.active .menu-modal-inner {
	  opacity: 1;
	  transform: translateX(0);
	  transition-timing-function: ease-out;
	}
  
	.mobile-menu {
	  display: none;
	}
  
	.expanded-menu {
	  display: block;
	}
  
	.menu-bottom {
	  padding: 6rem 0;
	}
  
	.menu-bottom .social-menu {
	  justify-content: flex-start;
	}
  
	/* Entry Content ------------------------- */
  
	.entry-content > .alignwide:not(.wp-block-group.has-background),
	.entry-content > .alignfull:not(.wp-block-group.has-background) {
	  margin-bottom: 2rem;
	  margin-top: 2rem;
	}
  }
  
  @media (min-width: 1220px) {
	/* HEADER TOGGLES */
  
	.primary-menu-wrapper + .header-toggles {
	  margin-left: 4rem;
	}
  
	.header-toggles {
	  margin-right: -4rem;
	}
  
	.header-toggles .toggle {
	  padding: 0 4rem;
	  margin-top: 1rem;
	}
  }
  
  @media (min-width: 1280px) {
	.entry-content > .alignwide {
	  max-width: 75rem;
	  width: 75rem;
	  margin-left: -3rem;
	}
  }
  
  
  @media (min-width:1500px) {
	  .section-inner {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 100%;
	  }
  }